<div>
<p>Redireced {{ redirectCount }} times</p>
<p>{{ link_description }}</p>
<p><div><a href="{{short_URL }}"><img src="{{qr}}" /></a></div><div>Powered By <a href="http://goqr.me/api/">QR code API</a><div></p>
<p><a href="{{short_URL }}">{{ short_URL }}</a></p>
<p><a href="{{URL }}">{{ URL }}</a></p>
</div>